.root {
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 345 !important;
    padding: 5px;
}
.media {
    max-width: 250px;
    height: 140;
}
.mainContainer {
    width: 50%;
    align-items: center;
    justify-content: center;
    padding: 10px 50px;
}

.header {
   align-items: center;
}